<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300957242048-3l5uclcimm5aoomj8mafv9uav2nkhg0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300957242048-3l5uclcimm5aoomj8mafv9uav2nkhg0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDena6p3L5l509mQi6xZ5004UpKC865c64</string>
	<key>GCM_SENDER_ID</key>
	<string>300957242048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication3</string>
	<key>PROJECT_ID</key>
	<string>projet-2cp-e33</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-2cp-e33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300957242048:ios:d15884a5fd956393019325</string>
</dict>
</plist>